root = true

[*.cs]
# Indentation
indent_style = space
indent_size = 4

# Braces (Allman style everywhere)
csharp_new_line_before_open_brace = all

# LINQ queries
csharp_new_line_between_query_expression_clauses = false

# Using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_using_directive_placement = outside_namespace

# Always explicitly state access modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
